@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  background-color: v.$blanco;
  position: fixed;
  z-index: 10001;
  top: 0;
  width: 100%;

  &__grid {
    @include m.tablet {
      @include m.container;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__info {
    padding: 1rem 0;
    background-color: v.$azul;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @include m.tablet {
      font-size: 1.3rem;
    }

    &--container {
      @include m.container;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      transition: all 0.3s ease-in-out;

      @include m.tablet {
        gap: 6rem;
        font-size: 1.3rem;
      }
    }

    &--a {
      color: v.$blanco;
      svg {
        margin-right: 0.3rem;
        transition: all 0.3s ease-in-out;
        @include m.tablet {
          margin-right: 1rem;
        }
      }
    }
  }
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  @include m.container;
  @include m.logo (7rem);

  &__navegacion {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    &:hover {
      cursor: pointer;
    }

    @include m.tablet {
      max-height: 0;
      opacity: 0;
    }
    &.abierto {
      span {
        transition: all 0.3s ease-in-out;
        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: 0;
        }
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: 0;
        }
      }
    }

    &.cerrado {
      span {
        transition: all 0.3s ease-in-out;
      }
    }
    span {
      &::before {
        content: "";
        display: block;
        width: 2rem;
        height: 2px;
        background-color: v.$negro;
        margin-right: 1.5rem;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.nav {
  overflow: hidden;
  @include m.grid(2, 0rem);
  text-align: center;
  transition: all 0.3s ease-in-out;

  @include m.tablet {
    display: none;
  }

  &.abierto {
    max-height: 100rem;
    opacity: 1;
  }

  &.cerrado {
    opacity: 0;
    max-height: 0;
  }

  &__enlace {
    display: block;
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: v.$magenta;
    font-family: v.$fuenteHeadings;
    padding: 1rem;
    border: 1px solid darken(v.$magenta, 10%);
    transition: all 0.3s ease-in-out;
  }

  &--desktop {
    display: none;
    @include m.tablet {
      @include m.grid(3, 2rem);
      width: 100%;
    }

    @include m.desktop {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 1rem;
      width: 100%;
    }

    &__enlace {
      transition: all 0.5s;
      @include m.tablet {
        text-align: center;
        color: v.$azul;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        font-family: v.$fuenteHeadings;
        border: 2px solid transparent;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid v.$rosado;
        }
      }

      @include m.desktop {
        font-size: 1.6rem;
      }
    }
  }
}

.contenido {
  margin-top: 13rem;
}
