@use "../base/variables" as v;
@use "../base/mixins" as m;

.hero {
  padding: 2rem 0;

  &__grid {
    @include m.container;
    @include m.grid(1, 2rem);

    @include m.tablet {
      @include m.grid(2, 1rem);
      align-items: center;
    }
  }
  
  @include m.img-personalizada;

  &__contenido {
    text-align: center;
    transition: all 0.3s ease-in-out;

    @include m.tablet {
      text-align: left;
    }
  }

  &__titulo{
    color: v.$magenta;
    text-transform: uppercase;
    font-size: clamp(3rem, 5vw, 4.8rem);
  }

  &__subtitulo{
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: 700;
    font-size: clamp(1.4rem, 5vw, 2rem);
    color: v.$azul;
  }

  &__texto{
    font-size: clamp(1.4rem, 5vw, 1.8rem);
    line-height: 1.6;
    color: v.$azul;
  }

  &__boton{
    @include m.boton(v.$magenta, v.$blanco);
  }
}
