@use "../base/variables" as v;
@use "../base/mixins" as m;

.servicios {
  padding: 5rem 0;

  &__titulo{
    @include m.titulo;
  }

  &__grid {
    @include m.container;
    @include m.grid(1, 0rem);
    @include m.tablet {
      @include m.grid(2, 1rem);
    }
    @include m.desktop {
      @include m.grid(3, 1rem);
    }
  }

  &__columna {
    text-align: center;
    padding: 0;
    color: v.$azul;
    font-size: 700;
    line-height: 3rem;
    font-weight: bold;
    @include m.tablet {
      padding: 1rem;

      &:last-of-type {
        grid-column: 1 / 3;
      }
    }

    @include m.desktop {
      &:last-of-type {
        grid-column: 3 / 4;
      }
    }
  }

  &__lista {
    display: flex;
    flex-direction: column;
  }

  &__servicio {
    &::before{
      content: "✔";
      margin-right: .5rem;
      color: v.$magenta;
    }
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover{
      font-size: 1.8rem;
      cursor: default;
    }
  }

  &__contenedor-boton {
    @include m.container-sm;
  }

  &__boton {
    @include m.boton(v.$magenta, v.$blanco);
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}